* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background: whitesmoke;
}

.flex {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap
}

.flex-fd {
    
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:20px
}

a {
    text-decoration: none;
    font-weight: bold;
    color:black;
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    padding: 10px 15px;
    font-weight: 450;
    font-size: 16px;
}

/* .btn-hover {} */

.box {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 70px;
    border-bottom:2px solid black;
    position:fixed;
    top:0;
    z-index:99;
}

.navbar {
    width: 100%;
    height: 70px;
    background: white;
    border-bottom:1px solid black;
}

.logo {
    margin-left: 20px;
}

.nav-links {
    gap: 20px;
}

.nav-links li a {
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 15px
}

.nav-links li a:hover {
    border: 1px solid black;

}

.btn-box {
    height: 100%;
    border-left: 1px solid black
}

.btn-box button {
    height: 100%;
    padding: 10px 30px;
}

.btn-box button:last-child {
    background: black;
    color: white
}

.btn-box button:hover {
    background: #ff90e8;
    transition: all 0.3s linear;
}

.btn-box button:last-child:hover {
    background: #ff90e8;
    color: black;
    transition: all 0.3s linear;
}

.wrapper{
    width:95%;
    min-height:190vh;
    justify-content:start;
    margin-top:2px;
}
.search-box{
    width: 100%;
    height:50px;
    border-radius:7px;
    border:1px solid black;
    background:white;
    margin-top:100px;
}
.search-box input{
    width:100%;
    height: 100%;
    padding:10px;
    border:none;
    border-radius:7px;
    font-size:1rem;
    font-weight:500
}
.search-box input:hover {
    border:none;
outline:2px solid #ff90e8;
}
.navigation-box{
    width:90%;
    margin-top:30px;
    z-index:99
}
.navigation-box ul{
    width:auto;
    height:auto;
    position:relative;
    font-weight:300;
}



.navigation-box ul .box{
    min-width:200px;
    border-radius:8px;
    position:absolute;
    top:110%;
    display:none;
    justify-content:space-between;
    align-items:start;
    flex-direction:column;
    gap:13px;
    overflow:hidden;
}
.navigation-box ul li a{
    color:black;
    font-weight:500;
    width:100%;
    display:flex;
    justify-content:start;
}

.navigation-box ul .box li{
    width:100%;
}
.navigation-box ul .box li a{
    width:100%;
    font-weight:300;
    padding:10px 13px;
    text-decoration:underline;
}
.navigation-box ul .box li a img{
    width:130px;
    height:130px;
}
.navigation-box ul .box li a:hover{
    /* width:100%; */
    background:black;
    color:white;
    padding:10px 13px;
    /* transition:all 0.1s linear; */
}

.navigation-box ul:hover{
    border:1px solid black;
    padding:10px 12px;
    border-radius:20px;
    box-shadow:4px 4px 2px black;
    transform:scale(1.02);
    transition:transform 0.2s linear;
}
.navigation-box ul:hover .box{
    display:flex;
    border:1px solid black;
    box-shadow:7px 2px 2px black;
    transition:all 0.3s ease;
}


.line{
    width: 100%;
    height:1px;
    border:1px solid black;
    margin-top:70px;
}

.wishlists{
    width: 100%;
    height:auto;
    align-items:start;
    margin-top:50px;
}
.wishlists h1{
    font-size:26px;
    font-weight: 300;
    margin-left:40px;
}
.wishlists-group{
    width:100%;
    height:100%;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.wishlist-box{
    min-width:45%;
    height:190px;
    background:white;
    border:1px solid black;
    border-radius:6px;
}
.wishlist-box:hover{
    box-shadow:3px 3px 2px black;
    transition: all 0.1s linear;
}
.wishlist-img-group{
    min-width:30%;
    height:100%;
    background:#90a8ed;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:5px;
    border:1px solid black;
    padding:6px 10px;
    
} 
.wishlist-img-group img{
    width:70px;
    height:80px;
    border:1px solid black
}

.wishlists-dets{
    width:65%;
    height:90%;
    padding:10px 15px;
    align-items:start;
}
.username a{
    text-decoration: underline;
    font-weight:lighter
}
.prod-box{
    width:100%;
    justify-content:start;
    gap:10px;
    position:relative;
}

.market-title{
    width: 100%;
    height:auto;
    justify-content:center;
    margin-top:20px;
}
.title{
    width:93%;
    justify-content: space-between;
}
.title h1{
    font-weight:300;
    font-size:24px;
}
.title ul{
    gap:20px;
}
.title  li{
    
    font-weight:bold;
    color:grey;
    
}
.title li:last-child{
    border-radius:20px;
    padding:10px 15px;
    background:white;
    border:1px solid black
}
.filter{
    width:93%;
    height:auto;
    gap:20px;
    position:relative;
}
.filter-group{
    width:24%;
    height:auto;
    border:1px solid black;
    border-radius:5px;
    background:white;
    gap:0px;
}
.filter-box{
    width: 100%;
    height:auto;
    border-bottom:1px solid #454242;
    /* border-radius:6px; */
    padding:14px 14px;
}
.filter-box h2{
    font-weight:450;
    font-size:1.02em
}

.products-group{
    width: 70%;
    height:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:14px;
    position:relative;
}
.products{
    min-height:400px;
    border:1px solid black;
    border-radius:6px;
}
.products:hover{
    box-shadow:3px 3px 2px black;
    transition: all 0.1s linear;
}
.product-img{
    width: 100%;
    height:60%;
    background:red;
    overflow:hidden;
    border-radius:6px;
}
.product-img img{
    width: 100%;
    height:100%;
    
}
.product-dets{
    width: 100%;
    min-height:40%;
    padding:10px 12px;
    align-items:start;
    justify-content:start;
    gap:20px;
    border-bottom:1px solid black;
}
.product-dets .title-wrapper{
    width: 100%;
    height:45%;
}
.product-dets .title-wrapper h1{
    font-weight:400;
    font-size:20px;
}

.product-dets .username a{
    font-size:13px;
    color:#2d2a2a;
    gap:8px;
}
.product-dets .rating{
    gap:8px;
}
.product-dets .rating svg{
 width:15px;
 height:15px;
}
.product-dets .username a img{
    border-radius:50%;
    width:20px;
    height:20px;
}
.buy{
    width: 100%;
    padding:10px;
}
.buy button{
    padding:10px 14px;
    background:#ff90e8;
    border:1px solid black;
    border-top-right-radius: 30px;;
    border-bottom-right-radius: 30px;;
}

.load-more{
    position:absolute;
    bottom:-4%;
    left:40%;
    border-radius:10px;
    border:1px solid black
}
footer{
    width:100%;
    height:80vh;
    background:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:100px;
}
.footer-box{
    width:90%;
    height:70%;
    /* background:red; */
}
.footer-left{
    width:50%;
    height:100%;
}
.footer-title{
    width:100%;
    height:auto;
}
.footer-title h1{
    font-weight:300;
    font-size:47px;
}
.footer-left{
    justify-content:space-between;
    gap:20px;
}
.footer-left .contact-input{
    width:100%;
    height:50px;
    gap:1px;
}
.contact-input input{
    width:90%;
    height:100%;
    padding:10px 12px;
    outline:0;
    border:none
}
.contact-input input:hover{
    box-shadow:2px 2px 2px #ff90e8;
}
.contact-input button{
    height:100%;
    padding:10px 14px; 
    border-radius:10px;
    background:#ff90e8
}
.copyright{
    width:100%;
    justify-content:start;
    gap:10px;
}
.copyright img{
    width:30px;
    height:30px;
}

.footer-right{
    width: 47%;
    height:100%;
    justify-content:space-between;
}

.footer-naviation{
    width: 100%;
    height:auto;
    display:grid;
   grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
}
.footer-naviation ul{
    align-items:start;
    justify-content:start;
}
.footer-naviation ul li{
font-weight:500
}

.footer-naviation ul li:hover{
    color:#ff90e8
}
.contact-icon{
    width:100%;
 justify-content:space-between;
}
.contact-icon a{
    color:white;
}
.contact-icon a:hover{
    color:#ff90e8;
    transition:all  0.2s ease;
}